.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 740px;
  text-decoration: none;
  color: white;
  background-image: url(../../../images/__background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.cover__overlay:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  position: absolute;
  opacity: .3;
  z-index: 0;
  transition: 0.4s;
}

.cover__overlay:hover:before {
  z-index: 3;
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
  .cover__overlay:before {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    max-width: 768px;
    min-height: 480px;
  }
  .cover__overlay:before {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 500px) {
  .cover__overlay {
    min-height: 200px;
  }
  .cover__overlay:before {
    min-height: 200px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    max-width: 320px;
    min-height: 200px;
  }
  .cover__overlay:before {
    max-width: 320px;
    min-height: 200px;
  }
}
