.place {
  margin: 0 auto;
  display: grid;
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  grid-template-columns: 460px minmax(min-content, max-content);
  gap: 48px 40px;
  grid-template-areas:
  "title website"
  "image text";
}
@media screen and (max-width: 1024px) {
  .place {
    max-width: 90.625%;
    gap: 48px 32px;
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
    grid-template-columns: 440px minmax(min-content, max-content);
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 93.75%;
    gap: 48px 28px;
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
    grid-template-columns: 340px minmax(min-content, max-content);
  }
}

@media screen and (max-width: 600px) {
  .place {
    max-width: 320px;
    gap: 32px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "website"
    "image"
    "text";
  }
}
